#mainTitle{
	font-family: Helvetica;
	font-size: 36px;
	color: #333333;
	text-align: center;
	text-shadow: 1px 2px 3px #ccc; 
	border-bottom:1px solid #cbcbcb;
	padding-bottom: 15px;
	margin: 20px;
}

#body { 
	font:normal 12px/18px Arial, Helvetica, sans-serif; 
}

#Main{
	width: 660px;
	height: 760px;
	border: 1px solid #cbcbcb;
	margin:0 auto;
	background-color:#ededed; 
}

#QuadTree{
	width: 640px;
	height: 640px;
	margin:0 auto;
	background-color:#333333; 
	position: relative;
}

#mainCanvas{
	background:#333333; 
	border:2px solid #222222; 
	position: relative;
}